.section_one_img_1{
    width: 1140px;
}

.section_one_h1_1{
    width: 1140px;
    font-size: 29px;
}

.section_two{
    height: 1000px;
}

.polca_img{
    width: 100%;
}

.section_one_img1{
    width: 280px;
}

.section_one{
    width: 100%;
}